#heading {
    margin:0px;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#headingsub {
    margin:0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}