#heading {
    padding-left:10px;
    padding-right:10px;
    margin-bottom:0;
    margin-top:0;
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#headingsub {
        padding-left: 10px;
        padding-right: 10px;
        margin-top:1px;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

#heading2 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-weight:10;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    border:2px solid black;
    text-align:left;
}

tr,th,td{
    border:2px solid black;
    text-align:left;
}

#heading3 {
    padding-right: 10px;
    padding-bottom:10px;
    margin-bottom:0;
    text-align: left;
    font-weight:550;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#connection {
        padding-bottom: 10px;
        padding-right: 10px;
        margin-bottom:0;
        text-align: left;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

body{
margin: 0px 150px 0px 150px; /* top, right, bottom, left */
    }


#connectionsub {
    margin:10px;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}




table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

input, select {
    width: 90%;
    padding: 5px;
    box-sizing: border-box;
}

tr {
    height: 50px;
}

body {
    align-items: center;
    height: 100vh;  
    text-align: center; 
}
