<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard: Electricity Department of India</title>
    <link rel="icon" href="/images//logo1.png">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
    <div id="top">
        <div id="head">
            <div id="image">
                <img src="/images/log1.png" alt="satyamev jayte">
            </div>
            <div id="text">
                <p class="ph1">Department of Electricity of India</p>
                <p class="ph2">भारतीय विद्युत विभाग</p>
            </div>
        </div>
        <div id="title">Dashboard</div>
        <div id="time"></div>
    </div>
    <div id="t1">Dashboard</div>
    <div id="menu">
        <div id="menu-hover"><img src="/images/list.png" id="menu-icon" alt=""></div>
        <div id="hover">
            <ul>
                <div><a href="/">Home</a><br></div>
                <div><a href="staff">Staff Section</a><br></div>
                <div><a href="application">Apply for New Connection</a><br></div>
                <div><a href="bill">Bill Payment</a><br></div>
                <div><a href="complaint">Complaint</a><br></div>
                <div><a href="contact">Contact</a><br></div>
                <div><a href="login">Login as Existing User</a><br></div>
                <div><a href="register">Register as New User</a><br></div>
                <div><a href="about">About</a><br /></div>
                <div><a href="404">This site is under Maintenance</a><br /></div>

            </ul>
        </div>
        <div id="login" style="margin-right: 10px;">
            <a href="login" id="log">LogIn</a>
            <a href="register" id="reg">Register</a>
            <p id="logged" style="display: none;"></p>
            <a href="logout" id="logout" style="display: none;">Logout</a>
        </div>

    </div>
    <div id="slider">
        <div id="slides">
            <img src="/images/img1.jpg" alt="slide1" srcset="" class="slide">
            <img src="/images/img2.jpg" alt="slide2" srcset="" class="slide">
            <img src="/images/img3.png" alt="slide3" srcset="" class="slide">
            <img src="/images/img4.jpg" alt="slide3" srcset="" class="slide">
        </div>
    </div>
    <div id="main">
        <div id="container">
            <h1>भारतीय विद्युत विभाग में आपका स्वागत है</h1><br>
            <h1 class="eng">Welcome to Department of Electricity of India</h1>
        </div>
        <div id="content">
            <h2>Explore our electricity services to stay powered and connected:</h2>
            <div>
                <a href="application" style="background-color: #FFC107;">Apply for New Connection</a>
                <a href="Status" style="background-color: #DC3545;">Status of Application</a>
                <a href="bill" style="background-color: #0D6EFD;">Online Bill Payments</a>
            </div>
            <div>
                <a href="staff" style="background-color: #198754;">Staff Section</a>
                <a href="complaint" style="background-color: #423A8E;">Register a Complaint</a>
                <a href="contact" style="background-color: #484848;">Contact us</a>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>
            Powered by the Electricity Department • &copy; 2025 All Rights Reserved
        </p>
        <p>
            For any queries, feel free to email us at
            <a href="mailto:rishabh064.nitsri@gmail.com">rishabh064.nitsri@gmail.com</a>
        </p>
    </div>

    <script src="/js/dashboard.js"></script>
    <!-- <script src="/js/jquery-3.7.1.min.js"></script> -->
    
</body>
</html>