<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Status Page | Department of Electricity</title>
  <link rel="stylesheet" href="/css/status.css" />
</head>

<body>
    <div id="top">
        <div id="head">
        <div id="image">
            <img src="/images/log1.png" alt="satyamev jayte" />
        </div>
        <div id="text">
            <p class="ph1">Department of Electricity of India</p>
            <p class="ph2">भारतीय विद्युत विभाग</p>
        </div>
        </div>
        <div id="title">Application Status</div>
        <div id="time"></div>
    </div>
    
    <div id="menu">
        <div id="menu-hover"><img src="/images/list.png" id="menu-icon" alt="" /></div>
        <div id="hover">
        <ul>
            <div><a href="/">Home</a><br></div>
                <div><a href="Something">Staff Section</a><br></div>
                <div><a href="application">Apply for New Connection</a><br></div>
                <div><a href="bill">Bill Payment</a><br></div>
                <div><a href="complaint">Complaint</a><br></div>
                <div><a href="feedback">Feedback</a><br></div>
                <div><a href="contact">Contact</a><br></div>
                <div><a href="login">Login as Existing User</a><br></div>
                <div><a href ="register">Register as New User</a><br></div>
                <div><a href="about">About</a><br></div>
        </ul>
        </div>
        <div id="Home">
        <a href="/" id="log">Dashboard</a>
        </div>
    </div>
    
    <main>
    <div class="status-container">
        <h1>Application Status</h1>
        <p>Your application is currently under review.</p>
        <p>Expected processing time: 5-7 business days.</p>
        <p>For any queries, please contact our support team.</p>
    </div>
    </main>
</body>